{% extends 'emails/_baseEmails.html.twig' %}

{% block title %}Réinitialisation de votre mot de passe - {{ parent() }}{% endblock %}

{% block body %}
    <div class="paragraph">
        <div>Bonjour,</div>
        <div>Une demande de réinitialisation de votre mot de passe <b>{{ appName }}</b> a été faite</div>
    </div>

    <div class="paragraph">
        <div>Cliquez sur le lien suivant afin de lancer la procédure de réinitialisation</div>

        {% set domain = get_domain_by_profile(user) %}

        <div class="activation">
            <a href="{{ domain }}/reset-password?token={{ user.lastPasswordToken }}" class="activation_link">
                Réinitialiser mon mot de passe
            </a>
        </div>
        <div>
            Si le lien ne fonctionne pas, copier-coller le lien ci-dessous dans un nouvel onglet de votre navigateur
        </div>
        <div class="plain_link">{{ domain }}/reset-password?token={{ user.lastPasswordToken }}</div>

        <div>
            Attention, ce lien n'est actif que 24 h ! Passé ce délai vous devrez générer une nouvelle demande via le lien
            "mot de passe oublié"
        </div>
        <div>Si vous n'êtes pas à l'origine de cette demande vous pouvez ignorer cet email</div>
    </div>
{% endblock %}